<form>
  <div class="form-group">
    <label for="search-input">Từ khóa: </label>
    <input
      type="text"
      class="form-control"
      id="search-input"
      name="q"
      aria-describedby="emailHelp"
      placeholder="Nhập từ khóa"
    />
    <small id="emailHelp" class="form-text text-muted">We'll never share your
      email with anyone else.</small>
  </div>

  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>